.hud {
  border: solid 3px white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  height: 75px;
  width: 520px;
  color: white;
  font-size: large;
}

.toggles-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggles {
  display: flex;
}

.icon {
  transform: scale(2);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 4px white;
}

.circle:hover {
  background-color: goldenrod;
  cursor: pointer;
}

.hud-messages-container {
  font-family: 'Teko', sans-serif;
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.settings {
  position: absolute;
  right: 10px;
  top: 10px;
}

.hud-messages {
  display: block;
}
