.hud {
	font-family: 'Teko', sans-serif;
	position: relative;
	bottom: 15%;
	display: flex;
	justify-content: center;
}

.icon {
	transform: scale(2);
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: red;
}
