html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
}

div[data-cursor='look'] {
	cursor: url('./icons/look.cur'), default;
}

div[data-cursor='talk'] {
	cursor: url('./icons/talk.cur'), default;
}

div[data-cursor='walk'] {
	fill: green;
	cursor: url('./icons/walk.cur'), default;
}
